<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <h2><%= pluralize(@task.errors.count, "件") %>のエラーがあります。</h2>

    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label "タスク名" %>
  <%= f.text_field :not_started_yet,id: 'text' %>
  <%= f.label "詳細" %>
  <%= f.text_field :content, id:'content' %>
  <%= f.label "終了期限" %>
  <%= f.date_field :expired_at, id:'expired_at' %>
  <%= f.label "ステータス"%>
  <%= f.select :status, [["未着手"],["着手中"],["完了"]],include_blank: "選択して下さい", id:'select_status' %>

  <%= f.submit "タスクを追加する"%>
<% end %>
