<p><%= notice %></p>
<h1 class="title">To-Doリスト</h1>
<%= link_to 'タスクを追加する', new_task_path%>
<table class="table">
  <tr>
    <th>
      優先順位
      <div class="vertical">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>
    </th>
    <th>
    </th>
  </tr>
  <tr>
    <td>
      未着手
      <% @tasks.each do |t| %>
        <% if t.not_started_yet %>
          <tr>
            <td><%= t.not_started_yet %></td>
            <td>
              <%= link_to '詳細', task_path(t.id) %>
              <%= link_to '編集', edit_task_path(t.id) %>
              <%= link_to '削除', task_path(t.id), method: :delete, data: { confirm: '削除しますか？' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </td>
    <td>
      着手
      
      完了
      
    </td>
    <%= link_to "終了期限でソートする", tasks_path(expiry_date: "true")%>
  </tr>
</table>




