<p><%= notice %></p>
<h1 class="title">To-Doリスト</h1>
<%= link_to 'タスクを追加する', new_task_path%>
<table class="table">
<% @tasks.each do |t| %>
  <tr>
    <th>タスク名
    タスクの詳細
    終了期限
    登録日時
    ステータス
    優先度</th>
  </tr>
  <tr>
    <td>      
        <% if t.not_started_yet %>
          <tr>
            <td><%= t.not_started_yet %></td>
            <td><%= t.expired_at%></td>
            <td><%= t.created_at%></td>
            <td><%= t.status%></td>
            <td>
              <%= link_to '詳細', task_path(t.id) %>
              <%= link_to '編集', edit_task_path(t.id) %>
              <%= link_to '削除', task_path(t.id), method: :delete, data: { confirm: '削除しますか？' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </td>
    <td>

    </td>
    <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true")%>
  </tr>
</table>




